CF_APP_NAME = DEV - Mach1 Spatial Music Player
CF_APP_VERSION = 0.1
CF_APP_ICON = AppIconDevelopment
CF_BACKEND_URL = http:\/\/192%2E168%2E0%2E38%3A3000\/api
CF_TIME_OUT_INTERVAL_FOR_REQUEST = 30
CF_TIME_OUT_INTERVAL_FOR_RESOURCE = 200
CF_HTTP_MAXIMUM_CONNECTIONS_PER_HOST = 20
CF_REQUEST_CACHE_ENABLED = false
CF_LOG_ENABLED = true
CF_MOCKED_REPOSITORIES = false
CF_KEYCHAIN_SERVICE_NAME = com.mach1.spatial-audio-player:dev
CF_KEYCHAIN_TOKEN_STORE_KEY = access_token
CF_KEYCHAIN_USERNAME_STORE_KEY = username
CF_KEYCHAIN_PASSWORD_STORE_KEY = password
