CF_APP_NAME = Mach1 Spatial Music Player
CF_APP_VERSION = 0.1
CF_APP_BUNDLE_IDENTIFIER = com.mach1.spatial.music.player
CF_APP_ICON = AppIconRelease
CF_BACKEND_URL = https:\/\/api.mach1.com\/res\/v1
CF_TIME_OUT_INTERVAL_FOR_REQUEST = 10
CF_TIME_OUT_INTERVAL_FOR_RESOURCE = 120
CF_HTTP_MAXIMUM_CONNECTIONS_PER_HOST = 20
CF_REQUEST_CACHE_ENABLED = true
